@import "../common/theme";
@import "../common/mixins";

.menu {
  @include flex-block($justifyContent: space-between);

  padding: 0;
  margin: 0;
  list-style: none;

  &__btn {
    @include box-shadow();

    color: $color-dark;
    background-color: $color-light;
    transition-duration: 0.3s;
    user-select: none;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
    position: relative;

    &--disabled {
      cursor: auto;
      background-color: $color-dark;
      box-shadow: none;
    }

    &--hidden {
      visibility: hidden;
      opacity: 0;
    }

    &--prev {
      margin: 10px 10px 10px 30px;
    }

    &--next {
      margin: 10px 30px 10px 10px;
    }

    &--prev:before,
    &--next:before {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
    }

    &--prev:before {
      right: 100%;
      border-width: 20px 20px 20px 0;
      border-color: transparent $color-light transparent transparent;
    }

    &--next:before {
      left: 100%;
      border-width: 20px 0 20px 20px;
      border-color: transparent transparent transparent $color-light;
    }
  }
}