@import "../common/theme";
@import "../common/mixins";

.article {
  @include clearfix();
  @include box-shadow();

  position: relative;
  background-color: $color-light;
  margin-bottom: 20px;
  padding: 10px 10px 45px;

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__img-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    float: left;
    margin: 10px;
    text-decoration: none;
  }

  &__header {
    padding: 10px;
    margin: 0;
    font-size: 24px;
    line-height: 30px;
    transition-duration: 0.3s;
    color: $color-secondary;
  }

  &__header-link {
    text-decoration: none;
    display: block;
  }

  &__link {
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    padding: 10px;
    position: absolute;
    right: 20px;
    bottom: 10px;
    float: right;
    color: $color-secondary;
    text-decoration: none;
    transition-duration: 0.3s;

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      transition-duration: 0.3s;
      width: 0;
      height: 0;
      border-top: 1px solid $color-success;
    }

    &:before {
      top: 5px;
      right: 10px;
    }
    &:after {
      bottom: 5px;
      left: 10px;
    }

    &:hover {
      &:before,
      &:after {
        width: calc(100% - 20px);
      }
    }
  }

  &__short-description {
    padding: 10px 0;
    font-size: 16px;
    line-height: 20px;
  }

  &:hover &__header,
  &:hover &__link {
    color: $color-success;
  }
}